// :root {
//   --white: $white;
//   --primary-color: $primary-color;
//   --search-highlighter: $search-highlighter;
// }

$primary-color: #6a3286;
$light-purple: #7f4e94;
$icon-purple: #9026fb;
$secondary-purple: #9026fb;
$light-gray: #d9d9d9;
$strong-gray: #7b7c80;
$background-login: #bac2cb;
$button-select: #8032a7;
$white: #ffffff;
$search-highlighter: #ffc069;
